body, html
{
  background: #fff;
  border: 0 none;
  margin: auto;
}

/*------------------- Bandeau ------------------- */
#bandeau
{

  width: 100%;
}

#bandeau img
{
  width: 100%;
  height: 850px;
}

#bandeau h2
{
  text-align: center;
  margin-top: -70px;
}

#bandeau p
{
  text-align: center;
}

/*------------------- Slider Crea ------------------- */
#container
{
  width: 600px;
  min-width: 600px;
  height: 400px;
  margin-top: 70px;
  overflow: hidden;
}

#container .items
{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#container .translate
 {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

#container .item
{
  width: 600px;
  min-width: 600px;
  height: 400px;
  background-color: gray;
}

#container .item:nth-child(2n+0)
{
  background-color: lightgray;
}

#container .item img
{
  width: 550px;
}

/*------------------- Contenu Crea ------------------- */

#contenuCrea
{
  width: 50%;
  float: right;
  margin-top: -350px;

  /*------------------- Slider Mehalah ------------------- */
  #container2
  {
    width: 600px;
    min-width: 600px;
    height: 400px;
    margin-top: 70px;
    overflow: hidden;
  }

  #container2 .items
  {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #container2 .translate
   {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
  }

  #container2 .item
  {
    width: 600px;
    min-width: 600px;
    height: 400px;
    background-color: gray;
  }

  #container2 .item:nth-child(2n+0)
  {
    background-color: lightgray;
  }

  #container2 .item img
  {
    width: 550px;
  }
